body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ECEFF1;
    color: #355A64;
}

#app-content {
    margin-left: 1em;
    margin-right: 1em;
}

app-header {
    background-color: #607D8B !important;
}

.center {
    text-align: center;
}

#app-content > div.post > div.title {
    font-size: 2em;
    display: inline;
}

div.children div.title {
    display: none;
}
