body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ECEFF1;
    color: #355A64;
}

#app-content {
    margin-left: 0;
    margin-right: 0;
}

app-header {
    background-color: #607D8B !important;
}

.center {
    text-align: center;
}

paper-card.post {
    width: 100%;
}
.post .post-title {
    font-size: 1.5em;
}
.post .content {
    overflow: auto;
}
.post-header {
    overflow:auto;
}
.post-children .post-header {
    overflow: initial;
}
.post-avatar {
    float: left;
    margin-right: 0.5em;
}
.post-avatar img {
    width: 45px;
}
paper-card.post.root {
}
paper-card.post.odd {
    background-color: #efe;
}
paper-card.post.even {
    background-color: #e8f2ff;
}
paper-card.post textarea {
    background-color: #fff !important;
}
.post-children {
    margin-left: 0.4em;
}
.post-children paper-card {
    display: inline-block;
}
.post-children paper-card.post {
    padding-left: 4px;
}
.post-children paper-card.post.even {
    border-left: 2px dashed #bef;
}
.post-children paper-card.post.odd {
    border-left: 2px dashed #bdb;
}
.post-children .post-title {
    display:none;
}

ul.post-footer {
    margin: 0;
    padding-left: 0;
}

.post-footer li {
    list-style-type: none;
    display: inline-block;
}

.replybox .textbox {
    display: block;
}

.replybox paper-button {
    margin-top: 1em;
    margin-bottom: 1em;
}

.replybox paper-button.send:hover {
    color: #fff;
    background-color: #4caf50;
}
.replybox paper-button.cancel:hover {
    color: #fff;
    background-color: #ff4081;
}
.replybox iron-autogrow-textarea {
    width: initial;
    max-width: 600px;
}
