body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ECEFF1;
    color: #355A64;
}

#app-content {
    margin-left: 1em;
    margin-right: 1em;
}

app-header {
    background-color: #607D8B !important;
}

.center {
    text-align: center;
}

paper-card.post {
    width: 100%;
}

.card-content.post {
    margin-bottom: 1em;
}

.post-children {
    margin-left: 1em;
}
.post-children paper-card {
    display: inline-block;
    margin-bottom: 1em;
}

.post-children .post-title {
    display:none;
}

ul.post-footer {
    margin-left: 0;
    padding-left: 0;
}

.post-footer li {
    list-style-type: none;
    display: inline-block;
}

.replybox .textbox {
    display: block;
}

.replybox paper-button {
    margin-top: 1em;
    margin-bottom: 1em;
}

.replybox paper-button.send:hover {
    color: #fff;
    background-color: #4caf50;
}
.replybox paper-button.cancel:hover {
    color: #fff;
    background-color: #ff4081;
}

iframe.ghstars {
    position:absolute;
    width:130px;
    height:30px;
    border-style: none;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
